{
  "presets": ["@babel/env", "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
